*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.navBar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 50px;
}

.navList{
    display: flex;
    gap: 20px;
}

.navList li{
    list-style-type: none;
    margin-top: 15px;
}

.login{
    display: flex;
    gap: 25px;
}

.lobtn{
    padding: 10px 16px;
    border-radius: 8px;
    border: none;
}

.rebtn{
    padding: 10px 16px;
    border-radius: 8px;
    border: 1px solid black;
}

.snap{
    display: flex;
    gap: 40px;
}

.hanb{
    display: none;
}

@media (max-width: 768px) {
    .hanb{
        display: block;
    }
    .login{
        display: none;
    }
}